<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Excel</title>
    <link rel="icon" href="public/img/Microsoft_Excel-Logo.png">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/41c9577096.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
          <section id="fileUploaderInput">
            <h1>File Upload</h1>

            <div class="error">
              <h4 id="error" style="color: red"></h4>
            </div>

              <input type="file" id="inpFile">
              <button type="submit" id="btnUpload">Upload!</button>
              <p id="loading">Loading...</p>
              <p id="process"></p>


          </section>

          <section id="action">
            <div class="dropdown-center">
              <button type="button" class="btn btn-warning dropdown-toggle action" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
              </button>
                <ul class="dropdown-menu ul-action">
                      <li><a class="dropdown-item" href="#"><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#products" style="width: 200px; text-align: center" id="productsEditBtn">
                                            products </button></a></li>
                      <li><a class="dropdown-item" href="#"><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#uploadFile" style="width: 200px; text-align: center" id="uploadFileBtn">
                                            Upload </button></a></li>
                                            <li><a class="dropdown-item" href="/migrate"><button type="button" class="btn btn-outline-primary" style="width: 200px; text-align: center" id="migrateBtn">
                                              Migrate </button></a></li>
                </ul>
            </div>
            <i class="fa-solid fa-exclamation excla-action"></i>
          </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="products" tabindex="-1" aria-labelledby="product-edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="product-edit">Products</h5>
            <button type="button" class="btn btn-primary ms-5" id="addProduct">add</button>
            <button type="button" class="btn btn-outline-primary ms-2" data-bs-toggle="modal" data-bs-target="#cancelled-products" style="width: 200px; text-align: center" id="cancelledProductBtn">
                                  cancelled </button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="data-container-product">

          </div>
          <div class="loading-product">Loading...</div>
          <div class="modal-footer" id="pagination-container-product">

          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cancelled-products" tabindex="-1" aria-labelledby="cancelledProduct" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancelledProduct">Cancelled Products</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="data-container-cancelled-product">

          </div>
          <div class="loading-product">Loading...</div>
          <div class="modal-footer" id="pagination-container-cancelled-product">
            <button type="button" class="btn btn-primary backToProductBtn">
              Back
            </button>

          </div>
        </div>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="uploadFileLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadFileLabel">Upload JSON</h5>
            <button type="button" class="btn btn-primary ms-5" id="exportJson">Export</button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="data-container-upload">
          <div class="form-group">
            <div class="form-floating jsonTextarea">
              <textarea class="form-control" placeholder="Leave a JSON here" id="jsonTextarea" disabled></textarea>
            </div>
          <div class="btns">
          </div>
          </div>
          </div>
          <div id="loading-upload">Loading...</div>
          <div class="modal-footer" id="pagination-container-upload">
            <div class="alert op-0" role="alert">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="product-detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="product-detail-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="product-detail-label">Product Detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="product-detail-body">

          </div>
          <div class="modal-footer">
            <div class="alert op-0" role="alert">
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary backToProductBtn">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>

    <script src="dist/bundle.js"></script>
</body>

</html>
